<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8" />
	<title>查询档案</title>

</head>

<body style="text-align: center;">
	<div th:replace="base :: header"></div>

	<table class="table table-striped">
		<thead>
			<tr>
				<td class="active">id</td>
				<td class="success">记账日期</td>
				<td class="warning">凭证图片</td>
				<td class="success">OCR内容</td>
				<td class="warning">上传者</td>
				<td class="warning">上传时间</td>
			</tr>
		</thead>
		<tbody>
			<div>
				<span th:if="${recentVouchers!=null and recentVouchers.content!=null}">
					<tr th:each="voucher: ${recentVouchers.content}">
						<td th:text="${voucher.id}"></td>
						<td th:text="${voucher.recordDate}"></td>
						<td><img th:src="${voucher.imagePath}" height="50" /></td>
						<td th:text="${voucher.content}"></td>
						<td>上传者</td>
						<td th:text="${voucher.createTime}"></td>
						<td><a th:href="@{/voucher/delete(id=${voucher.id})}">删除</a></td>
					</tr>
				</span>
			</div>
		</tbody>
	</table>

	<div th:replace="base :: footer"></div>
</body>
</html>