<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
<title>上传日报</title>

</head>

<body style="text-align: center;">
	<div th:replace="base :: header"></div>

	<div>
		<form id="report-form" class="form-horizontal"
			enctype="multipart/form-data" th:action="@{/report/add}"
			method="post">
			记账日期：<input id="datepicker" type="text" name="recordDate" />
			CSV文件(可选择多个)：<input type="file" id="csv" name="file"
				style="width: 40%" /> <input id="upload" type="button" value="上传日报"
				class="btn btn-primary" />
		</form>
	</div>

	<table class="table table-striped" style="width: 80%" align="center">
		<caption>最近上传日报</caption>
		<thead>
			<tr>
				<th>记账日期</th>
				<th>日报名称</th>
				<th>上传者</th>
				<th>上传时间</th>
			</tr>
		</thead>
		<tbody th:if="${recentReports}">
			<tr th:each="report:${recentReports.content}">
				<td th:text="${#dates.format(report.recordDate,'yyyy-MM-dd')}"></td>
				<td><a th:href="@{'/report/report/'+${report.id}}"
					th:text="${#strings.arraySplit(report.filePath,'_')[1]}"> </a></td>
				<td th:text="${report.user.username}"></td>
				<td
					th:text="${#dates.format(report.createTime,'yyyy-MM-dd　HH:mm:ss')}"></td>
				<td
					th:if="${session.user.username==report.user.username and {#dates.format(new java.util.Date().getTime(),'yyyyMMdd') == #dates.format(report.createTime,'yyyyMMdd')}}">
					<a th:href="@{'/report/delete/'+${report.id}}">删除</a>
				</td>
			</tr>
		</tbody>
	</table>
	<div th:replace="base :: footer"></div>
</body>
<script th:inline="javascript">
	$('#datepicker').datepicker({
		todayBtn : "linked",
		language : "zh-CN",
		orientation : "bottom auto",
		autoclose : true
	})

	// 校验记账日期和文件不为空
	$('#upload').on('click', function(e) {
		var recordDate = $("#datepicker").val();
		var csv = $("#csv").val();
		if ("" == recordDate || "" == csv) {
			alert("记账日期或日报文件不能为空");
		} else {
			if (csv.split(".").pop() != "csv") {
				alert("日报只能为CSV格式");
			} else {
				$('#report-form').submit();
				console.log("上传日报表");
			}
		}
	});
</script>

</html>